.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.image {
  height: 31px;
  margin-bottom: 40px;
  margin-right: 40px;
  width: 41px;
  z-index: 1;
}

.p {
  bottom: 0;
  position: absolute;
}

.container:nth-of-type( 2 ) img {
  height: 76px;
  width: 102px;
}

.container:nth-of-type( 3 ) img {
  height: 79px;
  width: 106px;
}

.container:nth-of-type( 4 ) img {
  height: 50px;
  width: 66px;
}

.container:nth-of-type( 5 ) img {
  height: 204px;
  width: 272px;
}

.container:nth-of-type( 6 ) img {
  height: 210.9px;
  rotate: -15deg;
  width: 282.41px;
}

.container:nth-of-type( 7 ) img {
  height: 109px;
  width: 144px;
}

.container:nth-of-type( 8 ) img {
  height: 107px;
  width: 144px;
}
